body {
    font-family: 'Open Sans', sans-serif;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.btn-google-plus {
    background-color: #d34836;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.navbar.navbar-white {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    border: none;
}

.navbar.navbar-white a {
    color: rgba(0, 0, 0, 0.7);
}

.navbar.navbar-white .nav > li > a:hover, .navbar.navbar-white .nav > li > a:focus {
    color: #000000;
    text-decoration: underline;
    background-color: transparent;
}

/*
 * 1. Behave like form elements
 * 2. Create position context for dropdowns
 * 3. Clip content
 */
.uk-form-file {
    /* 1 */
    display: inline-block;
    vertical-align: middle;
    /* 2 */
    position: relative;
    /* 3 */
    overflow: hidden;
}

/*
 * 1. Required for Firefox
 * 2. Expand height and required for the cursor
 */
.uk-form-file input[type="file"] {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    /* 1 */
    left: 0;
    /* 2 */
    font-size: 500px;
}

.upload-icon {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
}

.file-details span.file-name {
    font-size: 25px;
}

.file-details span.glyphicon {
    font-size: 40px;
}

span.glyphicon.glyphicon-cloud-upload {
    display: block;
    font-size: 43px;
    margin-bottom: 5px;
}

.uk-form-file.upload-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
    background-color: #e8e8e8;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    font-size: 22px;
}

.panel.panel-default {
    border: none;
}

.panel-default > .panel-heading {
    background-color: white;
}


.main-content {
    padding-top: 54px;
}

.flyoutmenu .list-group-item {
    border: none;
}

.panel.panel-default.panel-sale {
    border: solid #ddd 1px;
}

.d-count {
    display: inline-block;
    float: right;
}

@media (max-width: 768px) {
    .space {
        display: none;
    }
}

.navmenu.navmenu-custom {
    background-color: #ffffff;
    border-right-color: #ddd;
}

.clean-btn {
    border: none;
}

.navmenu-custom > ul.nav {
    margin-left: 20px;
    margin-top: 25px;
}

footer {
    position: fixed;
    margin-top: 50px;
    bottom: 0;
    width: inherit;
    font-weight: 100;
    font-size: 12px;
}

footer a {
    margin-right: 5px;
    color: grey;
}

.side-menu .navmenu-brand {
    margin-left: 20px;
}

.side-menu li > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.side-menu li > a span {
    font-size: 22px;
}

.side-menu .nav > li > a:hover, .side-menu .nav > li > a:focus {
    background-color: transparent;
    color: #000000;
}

.side-menu .nav > li > a.active {
    color: #000000;
}

.page-title {
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .page-title {
        padding-left: 220px;
    }

    .hide-mobile {
        display: none;
    }
}

p.tiny-text {
    font-weight: 100;
    font-size: 12px;
}

@media (min-width: 768px) {
    .display-table {
        margin-left: 300px !important;
    }
}

@media (min-width: 992px) {
    .display-table {
        margin-left: 300px !important;
        min-width: 40%;
    }
}

@media (min-width: 1200px) {
    .display-table {
        margin-left: 310px !important;
        min-width: 50%;
    }
}